<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>React Tweets</title>
    <meta name="description" content="Testing the Twitter API from React.JS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bundle.css">
</head>
<body>
    <div id="app"><%- markup -%></div>
    <script src="bundle.js"></script>
</body>
</html>
